<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<!--List of secret env vars and their values-->
			<fName>Moon</fName>
			<lName>Raghib</lName>
			<Address>Street12345</Address>
			<City>London</City>
			<Postcode>TF2 9FT</Postcode>
			<PhoneNumber>441112223333</PhoneNumber>
			<Email>example@email.com</Email>
			<BROWSER>chrome</BROWSER>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>


